body {
    height: 100vh;
    background-image: url(Imagens/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main {
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 15px;
}

main > h1 {
    text-align: center;
}

main > p {
    text-align: center;
}